.checkout {
  display: flex;
  padding: 20px;
  height: max-content;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: #171717;
  flex-direction: column;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
 h2 {
   color: #fff;

 }
 h3 {
   display: none;
 }
 p {
   color: #fff;
 }

 .checkout__right {
   margin-left: auto;
   margin-right: auto;
 }