.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 20px;
  padding: 20px;
  background-color: #6c6870;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__gift > input {
  margin-right: 5px;
}

.subtotal > button {
  background: #f0c14b;
  width: 21.5rem;
  height: 30px;
  border: 1px solid;
  margin-top: 43px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  margin-left: -22px;
  border-radius: 5px;
  cursor: pointer;
}
